@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: oklch(0.9808 0.0028 128.4923);
  --foreground: oklch(0.2593 0.0136 163.6855);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2593 0.0136 163.6855);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2593 0.0136 163.6855);
  --primary: oklch(0.6939 0.0941 131.8186);
  --primary-foreground: oklch(0.2083 0.0195 135.3321);
  --secondary: oklch(0.9491 0.0119 133.3785);
  --secondary-foreground: oklch(0.3925 0.0244 163.3930);
  --muted: oklch(0.9491 0.0119 133.3785);
  --muted-foreground: oklch(0.5757 0.0205 160.6976);
  --accent: oklch(0.9491 0.0119 133.3785);
  --accent-foreground: oklch(0.3925 0.0244 163.3930);
  --destructive: oklch(0.6192 0.1694 25.0470);
  --destructive-foreground: oklch(0.9785 0.0075 17.2851);
  --border: oklch(0.9048 0.0076 151.8794);
  --input: oklch(0.9491 0.0119 133.3785);
  --ring: oklch(0.6939 0.0941 131.8186);
  --chart-1: oklch(0.6939 0.0941 131.8186);
  --chart-2: oklch(0.8169 0.0569 248.5261);
  --chart-3: oklch(0.9051 0.0600 83.4995);
  --chart-4: oklch(0.7859 0.0805 3.1358);
  --chart-5: oklch(0.7636 0 0);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2593 0.0136 163.6855);
  --sidebar-primary: oklch(0.6939 0.0941 131.8186);
  --sidebar-primary-foreground: oklch(0.2083 0.0195 135.3321);
  --sidebar-accent: oklch(0.9491 0.0119 133.3785);
  --sidebar-accent-foreground: oklch(0.3925 0.0244 163.3930);
  --sidebar-border: oklch(0.9048 0.0076 151.8794);
  --sidebar-ring: oklch(0.6939 0.0941 131.8186);
  --font-sans: M PLUS Rounded 1c;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.75rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2593 0.0136 163.6855);
  --foreground: oklch(0.8412 0.0060 153.7558);
  --card: oklch(0.3115 0.0204 159.3659);
  --card-foreground: oklch(0.9048 0.0076 151.8794);
  --popover: oklch(0.3115 0.0204 159.3659);
  --popover-foreground: oklch(0.9048 0.0076 151.8794);
  --primary: oklch(0.6939 0.0941 131.8186);
  --primary-foreground: oklch(0.2083 0.0195 135.3321);
  --secondary: oklch(0.4558 0.0294 155.8752);
  --secondary-foreground: oklch(0.9192 0.0084 157.0793);
  --muted: oklch(0.3925 0.0244 163.3930);
  --muted-foreground: oklch(0.7191 0.0089 157.0121);
  --accent: oklch(0.4558 0.0294 155.8752);
  --accent-foreground: oklch(0.9192 0.0084 157.0793);
  --destructive: oklch(0.4795 0.1291 23.3008);
  --destructive-foreground: oklch(0.9063 0.0244 17.6106);
  --border: oklch(0.3925 0.0244 163.3930);
  --input: oklch(0.3925 0.0244 163.3930);
  --ring: oklch(0.6939 0.0941 131.8186);
  --chart-1: oklch(0.6939 0.0941 131.8186);
  --chart-2: oklch(0.8169 0.0569 248.5261);
  --chart-3: oklch(0.9051 0.0600 83.4995);
  --chart-4: oklch(0.7859 0.0805 3.1358);
  --chart-5: oklch(0.7636 0 0);
  --sidebar: oklch(0.3115 0.0204 159.3659);
  --sidebar-foreground: oklch(0.9048 0.0076 151.8794);
  --sidebar-primary: oklch(0.6939 0.0941 131.8186);
  --sidebar-primary-foreground: oklch(0.2083 0.0195 135.3321);
  --sidebar-accent: oklch(0.4558 0.0294 155.8752);
  --sidebar-accent-foreground: oklch(0.9192 0.0084 157.0793);
  --sidebar-border: oklch(0.3925 0.0244 163.3930);
  --sidebar-ring: oklch(0.6939 0.0941 131.8186);
  --font-sans: M PLUS Rounded 1c;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.75rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}